@import url('https://fonts.googleapis.com/css?family=Prompt:400,600|Source+Serif+Pro:400,700&display=swap');

// font-family: 'Source Serif Pro', serif;
// font-family: 'Prompt', sans-serif;
html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    outline-color: #f8598b;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body,
#root,
.App {
    height: 100vh;
    background: #E0E1E2;
    
    font-family: 'Source Serif Pro', 'Helvetica', serif;

}

.blurComponent {
    filter: blur(10px);
}

.hide {
    display: none;
}

span.category {
    font-size: 1rem;
    text-transform: uppercase;
    color: #f8598b;
    font-weight: 600;
}